@define-color color-bg		#0B0000;
@define-color color-fg		#FFEEEE;
@define-color color-secondary	#B4AAAA;
@define-color color-border	#540000;
@define-color color-important	#BB1122;

* {
	margin: 0;
	border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font Mono", monospace;
	font-size: 14px;
	min-height: 0;
	box-shadow: none;
	text-shadow: none;
}

window#waybar {
	background: none;
	color: @color-fg;
}

#workspaces button {
	min-width: 24px;
	padding: 4px;
	margin: 2px 4px 0;
	background: @color-bg;
	color: @color-fg;
	transition: color 50ms, background 50ms;
}
#workspaces button:first-child { margin-left: 0.4em; }
#workspaces button:last-child { border-right: none; }

#workspaces button.active {
	color: @color-bg;
	background: @color-secondary;
}

#workspaces button.urgent {
	color: @color-fg;
	background: @color-important;
}

#workspaces button:hover {
	color: @color-important;
}


#window {
	min-width: 512px;
	padding: 4px;
	margin: 2px 32px 0;
	background: @color-bg;
}

#separator {}

#mpd,
#network,
#backlight,
#pulseaudio,
#battery,
#clock {
	padding: 4px 8px 4px 8px;
	margin: 4px 4px 0;
	background: @color-bg;
}

